version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build_deploy:
    executor:
      name: node/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'v1-dependencies-{{ checksum "package.json" }}'
            - v1-dependencies-
      - run: 'yarn install'
      - save_cache:
          paths:
            - node_modules
          key: 'v1-dependencies-{{ checksum "package.json" }}'
      - run: 'yarn lint'
      - run:
          name: 'Build Project'
          command: 'yarn build'
  deploy:
    executor:
      name: node/default
    steps:
      - run:
          name: 'Deploy to Firebase Hosting'
          command: './node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN --project=$FIREBASE_PROJECT_ID'
workflows:
  build_and_test:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore:
                - stating
                - develop
  build_deploy_stg:
    jobs:
      - build_and_test:
          filters:
            branches:
              only: develop
      - deploy:
          filters:
            branches:
              only: develop
          context: stating
  build_deploy_prod:
    jobs:
      - build_and_test:
          filters:
            branches:
              only: master
      - deploy:
          filters:
            branches:
              only: master
          context: production
